.quanlysp {
	padding:10px 10px;
}
.quanlysp h2{
	font-size:30px; 
	padding-left:150px; 
	color:#45aaf2;
	text-align: center;
}
.quanlysp a {
	float: left;
	border: 1px solid #3742fa;
	text-decoration: none;
	height: 28px;
	margin-left: 2px;
	color: #2f3640;
	line-height: 28px;
	text-indent: 4px;
}
.quanlysp a:hover {
	background: #45aaf2;
	color: #f1f2ee;
}
.quanlysp p {
	float: left;
}
table {
	text-align:center; 
	width:100%; 
	height:auto;  
	border-collapse:collapse;
	margin-left: 10px;
}
tr td {
	border:1px solid #2f3542;

	}
tr.tieude_hienthi_sp td {
	color:white; 
	background: #45aaf2; 
	height:30px; 
	font-size:18px; 
	
}
td.img_hienthi_sp img {
	padding-top:5px; 
}
td.img_hienthi_sp h4 {
	padding-bottom:5px; 
	font-size:14px;
}	
#phantrang_sp{
	float:left;  
	padding-top:10px;
	margin-left: 400px;
}
a button {
	border:1px solid #cdcdcd; 
	font-size:16px; 
	height:25px; 
	cursor:pointer; 
	color:#2ed573; 
	background:#f1f2ee;
}
a button:hover {
	background: #a7a7a7; 
	color:white;
}
a button.trang {
	width:50px;
}
a button.so {
	width:20px;
}
.active_hienthi_sp a {
	float:left; 
	margin-left:5px; 
	padding:10px 0px;
}
.active_hienthi_sp a img:hover {
	width:35px; 
	height:35px;
}
.active_hienthi_sp p {
	cursor:pointer; 
	padding:10px 0px;
}
.active_hienthi_sp p img:hover {
	width:35px; 
	height:35px;
}
